* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}

i {
    margin-right: 0.5rem;
}

input {
    font-size: 1rem;
}

img {
    pointer-events: none;
    width: 50%;
}

body {
    background: -webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 1rem;
    color: white;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 1.25rem;
    border: 6px solid transparent;
    background-clip: content-box;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Utility */
.w-100 {
    width: 100%;
}

/* Combat Log */
.logBox {
    margin: 0.5rem;
    height: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.5em;
    overflow: auto;
}

.logBox #dungeonAction {
    text-align: center;
}

.logBox p {
    margin: 0.3rem 0;
    padding: 0.3rem;
}

.inventorySlots {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.inventorySlots p,
#playerEquipment p {
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.inventorySlots p:hover,
#playerEquipment p:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

#inventory .content .inventorySlots {
    padding: 0 0.7em 0.4em;
}

/* Shadows */
.primary-panel {
    border-radius: 0.3rem;
    border: solid 1px;
}

/* Buttons */
button {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    border: solid 1px;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: white;
    color: black;
}

button:focus {
    outline: none;
    box-shadow: none;
}

/* Rarity Colors */
.Common {
    color: #ffffff;
}

.Uncommon {
    color: #1eff00;
}

.Rare {
    color: #0070dd;
}

.Epic {
    color: #a335ee;
}

.Legendary {
    color: #ffd700;
}

.Mythical {
    color: #e30b5c;
}

/* Game */
.game-container {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 28.125rem;
    height: 100%;
    max-height: 50rem;
}

.game {
    display: flex;
    flex-direction: column;
}

.game * {
    margin: 0.3rem;
}

/* Modals */
/* Main containter for modals */
.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal-container .content {
    background: -webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    color: #fff;
    border-radius: 0.3rem;
    border: solid 1px;
    max-width: 20rem;
    padding: 0.5em;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.modal-container .content .button-container {
    display: flex;
    gap: 0.5rem;
}

/* Equipment Info */
#equipmentInfo .content ul {
    margin-left: 1rem;
}

/* Inventory */
#inventory .content {
    padding: 0;
    height: 30rem;
}

#inventory .content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.7em;
}

#inventory .content-head i {
    margin: 0;
}

#inventory .content-head p:hover {
    cursor: pointer;
}

/* Battle Panel */
#battlePanel {
    display: flex;
}

#battlePanel .content {
    height: 100%;
    max-height: 35rem;
    width: 100%;
    padding: 0.5em;
    margin: 0 0.5rem;
}

.battle-info-panel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.7rem;
    margin: 0 0.5rem;
}

#enemyPanel {
    align-items: center;
}

.battle-bar {
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.bb-hp {
    height: 1rem;
}

.bb-ab {
    height: 0.5rem;
}

.empty-bar {
    width: 100%;
    background-color: grey;
}

.bb-hp .current {
    background-color: red;
}

.bb-ab .current {
    color: transparent;
    background-color: gold;
}

/* Title Screen */
#title-screen {
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

#title-screen h1 {
    font-family: 'Rubik Vinyl';
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 1rem;
}

#title-screen i {
    margin: 0 0 1rem;
}

#title-screen p {
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Character Creation */
#character-creation {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#character-creation button {
    margin: 2rem 0 0 0;
}

#character-creation input {
    width: 20rem;
    max-width: calc(100% - 2rem);
    padding: 0.4rem;
    margin: 1rem 0 0.5rem 0;
    background: transparent;
    border: solid 1px;
    color: white;
}

/* Header */
header {
    border-radius: 0.3rem;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0.5rem 0;
}

header button {
    width: auto;
    padding: 0.5rem 0.7rem;
}

header button i {
    margin: 0;
}

/* Dungeon */
#dungeon-main {
    display: none;
    flex-direction: column;
}

#dungeon-main h1 {
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
}

#dungeon-main .primary-panel {
    border: none;
    margin: 0.5rem;
}

#dungeon-main .primary-panel button {
    width: 100%;
    margin: 0.4rem 0;
    padding: 1rem;
}

.dungeon-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 1rem;
}

/* Stat Panel */
.stat-panel {
    display: flex;
    margin: 0.5rem;
    gap: 0.5rem;
}

.stat-panel .box {
    white-space: nowrap;
    border: solid 1px;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stat-panel .box::-webkit-scrollbar {
    display: none;
}

.stat-panel .box h4 {
    font-weight: bold;
}

/* Decision Panel */
.decision-panel {
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}

/* loader */
#loading {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid grey;
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Scroll */
.scrollable {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
    display: none;
}